
# .gitignore 2017-05-25

# Sistema Operacional
.DS_Store*
.Spotlight*
.Trashes
ehthumbs.db
Thumbs.db
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Geral
rascunho/

# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Maven
target/
test-output/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
out/

# SASS
.sass-cache/
*.css.map

# C/C++
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# Fortran
*.mod

# Logs
*.log
hs_err_pid*
