
# Geral
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Local
projeto/
proj/

# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Maven
target/
test-output/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
out/

# Logs
*.log
hs_err_pid*
