/* ---------------------------------------------- */

$tela_p: "(min-width:    0px) and (max-width:  767px)";
$tela_m: "(min-width:  768px) and (max-width: 1024px)";
$tela_g: "(min-width: 1025px)";

/* ---------------------------------------------- */



/* ---------------------------------------------- */